@media(min-width: 1700px) {
    .banner {
        padding: 230px 0 470px;
    }

    .pos-img {
        position: absolute;
        right: 10%;
    }

    .banner .cst-wrap {
        transform: scale(1.2);
    }
}

@media(min-width: 1400px) {
    .banner .cst-wrap {
        transform: scale(0.9);
    }

    .banner {
        padding: 214px 0 410px;
    }
}

@media(max-width: 1199px) {
    .banner h3 {
        font-size: 50px;
        line-height: 65px;
    }

    .banner h4 {
        font-size: 30px;
        line-height: 55px;
    }

    .cst-contact {
        height: 342px;
    }

    .pos-img {
        position: relative
    }

    /*Keyframes*/
    @keyframes mymove {
        from {
            right: -400px;
        }

        to {
            right: 200px;
        }
    }

    @keyframes mymove2 {
        from {
            right: -400px;
        }

        to {
            right: 34px;
        }
    }

    @keyframes mymove3 {
        from {
            right: -400px;
        }

        to {
            right: -84px;
        }
    }

    /*.banner .cst-wrap > figure {
        width: 160px;
    }*/

    .banner .cst-wrap figure img {
        object-fit: contain;
        height: 100%;
    }

    .banner .cst-wrap figure.image1 {
        right: 200px;
    }

    .banner .cst-wrap figure.image2 {
        right: 34px;
    }

    .banner .cst-wrap figure.image3 {
        right: -84px;
    }

    #man {
        bottom: 7%;
        right: 16%;
    }

    #sparrow {
        left: 23%;
        position: relative;
        bottom: -65px;
    }

    .roadmap div#lottie {
        margin-top: -69%;
    }
}

@media(max-width:991px) {
    .banner h3 {
        font-size: 40px;
        line-height: 50px;
    }

    .banner h4 {
        font-size: 24px;
        line-height: 50px;
    }

    .banner p {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .journey {
        padding: 380px 0 100px
    }

    .head h3 {
        font-size: 38px
    }

    .roadmap .head {
        margin-bottom: 10px;
    }

    .roadmap .vdo-wrap p {
        font-size: 19px
    }

    .gallary-grid .item:nth-child(odd) {
        height: 200px
    }

    .gallary-grid .item:nth-child(even) {
        height: 250px;
    }

    .head h3 {
        font-size: 38px;
        line-height: 45px
    }

    .cst-contact .head {
        margin-bottom: 20px;
    }

    .banner .cst-wrap figure {
        height: 300px;
    }

    .banner .cst-wrap figure.image2 {
        height: 330px;
    }

    .banner .cst-wrap figure.image3 {
        right: -50px;
    }

    @keyframes mymove3 {
        from {
            right: -400px;
        }

        to {
            right: -50px;
        }
    }

    .banner {
        padding: 185px 0 250px;

    }

    #man {
        bottom: 7.5%;
        right: 13%;
    }

    .grid li {
        width: 33% !important;
    }

    .roadmap div#lottie {
        margin-top: -86%;
    }
}

@media(max-width:767px) {
    #stars13 {
        left: 5%;
    }

    lottie-player#hotballoon {
        left: 10%;
        height: 200px;
    }

    .cst-faq .panel-title {
        font-size: 16px !important
    }

    .foot ul li {
        font-size: 14px;
    }

    .roadmap div#lottie {
        height: 315px;
        margin-top: 0
    }

    .community .head p {
        max-width: 80%;
    }

    lottie-player#hotballoon {
        transform: scale(2)
    }

    /*Keyframes*/
    @keyframes mymove {
        from {
            right: -400px;
        }

        to {
            right: 45%;
        }
    }

    @keyframes mymove2 {
        from {
            right: -400px;
        }

        to {
            right: 25%;
        }
    }

    @keyframes mymove3 {
        from {
            right: -400px;
        }

        to {
            right: 10%;
        }
    }

    .banner .cst-wrap figure.image1 {
        right: 45%;
    }

    .banner .cst-wrap figure.image2 {
        right: 25%;
    }

    .banner .cst-wrap figure.image3 {
        right: 10%;
    }

    .banner {
        padding: 170px 0 250px;
    }

    .banner .cst-wrap {
        margin-top: 53px;
    }

    #man {
        bottom: 4%;
        right: 12%;
    }

    .journey:before {
        height: 229px;
    }

    .grid li {
        width: 49% !important;
    }

    .roadmap .row + .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

@media(max-width:580px) {
    #man {
        bottom: 3.9%;
        right: 8%;
    }

    .menu {
        display: initial
    }

    .menu ul {
        padding-top: 50px;
    }
}

@media(max-width:480px) {
    lottie-player#hotballoon {
        transform: scale(1.2)
    }

    .journey:before {
        background-position: 68% center;
        height: 213px;
    }

    #man {
        bottom: 2.5%;
        right: -17%;
    }

    #clouds {
        position: absolute;
        left: 33%;
        top: 24%;
    }

    #clouds1 {
        position: absolute;
        right: 33%;
        transform: scale(4);
        bottom: -22%;
    }

    #stars12 {
        right: 42px;
        bottom: 25%;
        transform: scale(3);
    }

    #stars1 {
        right: 11%;
        bottom: 23%;
        transform: scale(3);
        position: absolute;
    }

    #stars13 {
        bottom: 23%;
        transform: scale(4);
        left: 0%;
    }

    .roadmap {
        padding-bottom: 70px
    }

    .cst-faq .panel-default > .panel-heading + .panel-collapse > .panel-body {
        font-size: 14px;
        line-height: 24px
    }

    .head h3 {
        font-size: 33px;
        line-height: 35px;
    }

    .roadmap div#lottie {
        height: 450px;
        margin-top: 0
    }

    .community .gallary-grid {
        display: block
    }

    .gallary-grid .item {
        margin-bottom: 15px
    }

    .gallary-grid .item:nth-child(odd),
    .gallary-grid .item:nth-child(even) {
        height: 300px
    }

    .sponser ul li {
        width: 100%;
        flex: 0 0 100%;
    }

    .copy {
        display: block
    }

    .copy p {
        justify-content: center;
        margin-bottom: 10px
    }

    @keyframes mymove {
        from {
            right: -400px;
        }

        to {
            right: 53%;
        }
    }

    @keyframes mymove2 {
        from {
            right: -400px;
        }

        to {
            right: -3%;
        }
    }

    @keyframes mymove3 {
        from {
            right: -400px;
        }

        to {
            right: -27%;
        }
    }

    .banner .cst-wrap figure.image3 {
        right: -30%;
    }

    .banner .cst-wrap {
        margin-top: 34%;
    }

    lottie-player#hotballoon {
        left: 3%;
    }

    #sparrow {
        left: 1%;
        position: relative;
        bottom: -94px;
    }

    .cst-faq .panel-group {
        max-width: 100%
    }

    .banner {
        padding: 120px 0 230px;
    }

    .banner .cst-wrap figure.image1 {
        right: 58%;
    }

    .banner .cst-wrap {
        margin-top: 21%;
        left: -9px;
    }

    .banner .cst-wrap figure {
        height: 290px;
    }

    .banner .cst-wrap figure.image2 {
        height: 313px;
        right: 1%;
        top: -34px;
    }

    .grid li {
        width: 100% !important;
    }

    .cstm-btn {
        padding: 5px 24px;
    }

    .banner h3 {
        font-size: 36px;
        line-height: 40px;
    }

    ul.icons {
        margin-bottom: 30px
    }

    .journey {
        margin-top: -80%;
    }

    .journey p {
        margin-bottom: 10px;
    }
}

@media(max-width:360px) {
    .journey:before {
        background-position: 70% center;
        height: 205px;
    }

    #man {
        bottom: 2%;
        right: -17%;
    }
}


/* iPhone X in portrait & landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
     #clouds {
            top: 27%;
        }
}


/*iPhone 6, 7, 8 plus in portrait & landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) { 
   #clouds {
        top: 27%;
    } 
}


/*iPhone 6, 7, 8 in portrait & landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
     #clouds {
        top: 27%;
    }
}

/* iPhone 12 mini */
/* @media only screen 
and (device-width: 375px) 
and (device-height: 812px) 
and (-webkit-device-pixel-ratio: 3) {
    #clouds {
    top: 50%;
    } 
} */

/* iPhone 12 and 12 pro */
@media only screen 
and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3) {
    #clouds {
      top: 50% !important;
    }
}


/* iPhone 12 Pro Max */
@media only screen and (min-width: 428px) and (max-width: 767px) {
        #clouds {
         top: 50%;
        }
    }

/* iPhone 11 */
@media only screen 
and (device-width: 414px) 
and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 2) { 
    #clouds {
        top: 50%;
    }
}

/* iPhone 11 Pro */
@media only screen 
and (device-width: 375px) 
and (device-height: 812px) 
and (-webkit-device-pixel-ratio: 3) { 
        #clouds {
        top: 50%;
        }
}

/* iPhone 11 Pro Max */
@media only screen 
and (device-width: 414px) 
and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 3) {
    #clouds {
    top: 50%;
    }
 }